.content {
  max-width: 1000px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  row-gap: 1.875rem;
}

.textAndButtonContainer {
  display: flex;
  flex-direction: column;
  row-gap: 3.75rem;
}

.textContainer {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.title {
  font-family: var(--headingFont);
  font-style: italic;
  font-size: 4.5rem;
  text-align: left;
  line-height: 4.5rem;
  color: #000;
  margin: 0;
  padding: 0;
}

.subtitle {
  font-family: var(--bodyFont);
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: left;
  color: #000;
  margin: 0;
  padding: 0;
}

.paragraph {
  font-family: var(--bodyFont);
  line-height: 1.5rem;
  font-weight: 300;
  text-align: left;
  color: #00000099;
  margin: 0;
  padding: 0;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  width: 100%;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  font-style: italic;
  text-decoration: none;
  background-color: #000;
  color: var(--lightColor);
  border: 0;
  padding: 14px 36px;
  cursor: pointer;
  box-sizing: border-box;
}

.photo {
  width: 100%;
  object-fit: contain;
  flex: 0 1 auto;
}

@media only screen and (min-width: 500px) {
  .photo {
    max-width: 361px;
    max-height: 361px;
  }
  .cta {
    width: fit-content;
  }

  .textAndButtonContainer {
    row-gap: 2.5rem;
  }
}

@media only screen and (min-width: 900px) {
  .content {
    flex-direction: row;
    column-gap: 2rem;
    align-items: center;
  }

  .fill {
    scroll-snap-align: start;
  }
}
